html{
  background-color: #0c151D;
  color: #FFFFFF;
  font-family: "Ubuntu", sans-serif;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/***
 Rich black = 0C151D
 White = FFFFFF
 Rich black = 171F26
 Pacific cyan = 23B5D3
 Cardinal = AD343E
***/