:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(246 246 246);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e1d20;
  height: 2000px;
}

#site-body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  min-width: 80%;
}


.main-menu {
  list-style: none;
  padding: 0;
  width: 70%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*color: rgb(35, 155, 224);*/
  color: #ff4654;
}

.main-menu li {
  display: inline-block;
  margin-right: 50px;
  font-size: 1.5rem;
  transition: 0.2s;
}

.main-menu li:hover {
  border-bottom: 2px solid;
  padding-bottom: 2px;

  transition: 0.2s;
  font-size: 1.6rem;
  cursor: pointer;
}

.name-header {
  color: #ff4654;
  font-size: 3rem;
  text-shadow: 1px 1px 2px #1e1d20;
}

/* Placeholder component styling need to move to separate file */
.box {
  height: 500px;
  background-color: white;
  border-radius: 60px;
  color: #1e1d20;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 25px;
}

.introduction {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.introduction p {
  width: 65%;
  margin: auto;
  color: #1e1d20;
}

.introduction h3 {
  color: rgb(35, 155, 224);
  font-size: 2rem;
  padding-top: 0;
  margin: 20px auto 20px auto;
}

.introduction h4 {
  padding-top: 0;
  margin: 30px auto 10px auto;
  color: rgb(35, 155, 224);
  font-size: 1.4rem;
}

.intro-container {
  margin-left: 50px;
}

.skills-container{
  height: 650px;
}

.skills-container h3 {
  color: rgb(35, 155, 224);
  font-size: 2rem;
  padding-top: 0;
  margin: 100px auto 10px auto;
}

.tech-container img{
  width: 150px;
  transition: 0.5s;
}

.tech-container img:hover{
  width: 180px;
  transition: 0.5s;
}

.tech-row1{
  margin-top: 75px;
}

.tech-row1 img{
  margin: 0 75px 0 75px;
}

.tech-row2{
  margin-top: 50px;
}

.tech-row2 img{
  margin: 0 75px 0 75px;
}

.contact-form-container{
  width: 100%;
}

.contact-form-container h3 {
  color: rgb(35, 155, 224);
  font-size: 2rem;
}

.contact-form{
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
  
  .label{
    align-items: start;
  }
}


/* .box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 5px; 
  background:linear-gradient(45deg,white); 
  mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  mask-composite: exclude; 

  --white: #ffffffff;
  --dark-purple: #0d0221ff;
  --auburn: #a22522ff;
  --lapis-lazuli: #255c99ff;
  --moonstone: #0fa3b1ff;


} */