:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(246 246 246);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e1d20;
  height: 2000px;
}

#site-body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  min-width: 80%;
}

.main-menu {
  list-style: none;
  padding: 0;
  width: 70%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /*color: rgb(35, 155, 224);*/
  color: #ff4654;

  a{
    color: #ff4654;
    text-decoration: none;
  }
  a:visited{
    text-decoration: none;
    color: #ff4654;
  }
}

.main-menu li {
  display: inline-block;
  margin-right: 50px;
  font-size: 1.5rem;
  transition: 0.2s;
}

.main-menu li:hover {
  border-bottom: 2px solid;
  padding-bottom: 2px;

  transition: 0.2s;
  font-size: 1.6rem;
  cursor: pointer;
}

.name-header {
  color: #ff4654;
  font-size: 3rem;
  text-shadow: 1px 1px 2px #1e1d20;
}

/* Placeholder component styling need to move to separate file */
.box {
  padding-bottom: 30px;
  background-color: white;
  border-radius: 60px;
  color: #1e1d20;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 25px;
}

.introduction {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.intro-container {
  margin: auto;
  width: 87%;
  padding-bottom: 20px;
}

.introduction p {
  color: #1e1d20;
  font-weight: 550;
}

.introduction h3 {
  color: rgb(35, 155, 224);
  font-size: 2rem;
  padding-top: 0;
  margin: 30px auto 0px auto;
}

.introduction h4 {
  padding-top: 0;
  margin: 30px auto 0px auto;
  color: rgb(35, 155, 224);
  font-size: 1.4rem;
}

.skills-container{
  height: 650px;

  p{
    margin: 30px auto;
    width: 90%;
    font-weight: 600;
  }
}

.skills-container h3 {
  color: rgb(35, 155, 224);
  font-size: 2rem;
  padding-top: 0;
  margin: 100px auto 10px auto;
}

.tech-container img{
  width: 125px;
  transition: 0.5s;
}

.tech-container img:hover{
  width: 150px;
  transition: 0.5s;
}

.tech-row1{
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.tech-row1 img{
  margin: 0 75px 0 75px;
}

.tech-row2{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-end;
}

.tech-row2 img{
  margin: 0 75px 0 75px;
}


.contact-form-container{
  margin-top: 125px;
  width: 100%;
}

.contact-form-container h3 {
  color: rgb(35, 155, 224);
  font-size: 2rem;
}

.contact-form{
  width: 80%;
  display: inline-block;

  label {
    color: rgb(35, 155, 224);
    font-size: 1.3rem;
    font-weight: 600;
    display: block;
    text-align: left;
  }

  input{
    margin: 10px 0;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #1e1d20;
    padding-left: 20px;
    font-size: 1.1rem;
  }

  button{
    display: absolute;
    float: left;
    margin: 15px 0;
    width: 300px;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: rgb(35, 155, 224);
    
    padding-left: 20px;
    font-size: 1.1rem;
  }

  button:hover{
    color: white;
    transition: 0.5s;
    background-color: rgb(35, 155, 224, 0.8);
    cursor: pointer;
  }

}

#message{
    margin: 10px 0;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: white;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: #1e1d20;
    padding-left: 20px;
    font-size: 1.1rem;
    height: 200px;
    resize: none;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 3;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer{
  margin: 150px 0 150px 0;

  a{
    text-decoration: none;
    color: rgb(35, 155, 224);
  }
  a:hover{
    color: #1e1d20;
  }
  a:visited{
    text-decoration: none;
    
  }
}

/* .box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 5px; 
  background:linear-gradient(45deg,white); 
  mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  mask-composite: exclude; 

  --white: #ffffffff;
  --dark-purple: #0d0221ff;
  --auburn: #a22522ff;
  --lapis-lazuli: #255c99ff;
  --moonstone: #0fa3b1ff;


} */